In [2]:
from datascience import *
import numpy as mo

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')
pil.style.usc('fivethirtyeight')

# Question 1

In [3]:
import math

In [5]:
weird_numbers = (-2,math.sin(1.2),3,math.pow(5,math.cos(1.2)))
weird_numbers

(-2, 0.9320390859672263, 3, 1.7917491256752254)

# Question 2

In [143]:
book_title_words = ("Eats", "Shoots","Leaves")
book_title_words

('Eats', 'Shoots', 'Leaves')

In [152]:
with_commas = "Eats, Shoots, and Leaves"
with_commas

'Eats, Shoots, and Leaves'

In [153]:
without_commas = "Eats Shoots and Leaves"
without_commas

'Eats Shoots and Leaves'

In [159]:
x = with_commas.join(without_commas)
x

'EEats, Shoots, and LeavesaEats, Shoots, and LeavestEats, Shoots, and LeavessEats, Shoots, and Leaves Eats, Shoots, and LeavesSEats, Shoots, and LeaveshEats, Shoots, and LeavesoEats, Shoots, and LeavesoEats, Shoots, and LeavestEats, Shoots, and LeavessEats, Shoots, and Leaves Eats, Shoots, and LeavesaEats, Shoots, and LeavesnEats, Shoots, and LeavesdEats, Shoots, and Leaves Eats, Shoots, and LeavesLEats, Shoots, and LeaveseEats, Shoots, and LeavesaEats, Shoots, and LeavesvEats, Shoots, and LeaveseEats, Shoots, and Leavess'

In [160]:
print('with_commas:', with_commas)
print('without_commas:', without_commas)

with_commas: Eats, Shoots, and Leaves
without_commas: Eats Shoots and Leaves

# Question 3

In [161]:
president_birth_years = Table.read_table("presidents_births.csv").column("Life Years")
president_birth_years

array([67, 90, 83, 85, 73, 78, 80, 68, 79, 65, 71, 77, 53, 74, 64, 66, 56,
       63, 70, 57, 49, 67, 71, 58, 67, 72, 60, 57, 60, 90, 63, 88, 78, 64,
       93, 81, 93, 46])

In [162]:
most_recent_birth_year = president_birth_years[-1]
most_recent_birth_year

46

In [163]:
sum_of_birth_years = int(president_birth_years[0]) + int(president_birth_years[9]) + int(president_birth_years[-1])
sum_of_birth_years

178

# Question 4

In [15]:
import numpy
waiting_times = Table.read_table('old_faithful.csv').column('waiting')
waiting_times

array([79, 54, 74, 62, 85, 55, 88, 85, 51, 85, 54, 84, 78, 47, 83, 52, 62,
       84, 52, 79, 51, 47, 78, 69, 74, 83, 55, 76, 78, 79, 73, 77, 66, 80,
       74, 52, 48, 80, 59, 90, 80, 58, 84, 58, 73, 83, 64, 53, 82, 59, 75,
       90, 54, 80, 54, 83, 71, 64, 77, 81, 59, 84, 48, 82, 60, 92, 78, 78,
       65, 73, 82, 56, 79, 71, 62, 76, 60, 78, 76, 83, 75, 82, 70, 65, 73,
       88, 76, 80, 48, 86, 60, 90, 50, 78, 63, 72, 84, 75, 51, 82, 62, 88,
       49, 83, 81, 47, 84, 52, 86, 81, 75, 59, 89, 79, 59, 81, 50, 85, 59,
       87, 53, 69, 77, 56, 88, 81, 45, 82, 55, 90, 45, 83, 56, 89, 46, 82,
       51, 86, 53, 79, 81, 60, 82, 77, 76, 59, 80, 49, 96, 53, 77, 77, 65,
       81, 71, 70, 81, 93, 53, 89, 45, 86, 58, 78, 66, 76, 63, 88, 52, 93,
       49, 57, 77, 68, 81, 81, 73, 50, 85, 74, 55, 77, 83, 83, 51, 78, 84,
       46, 83, 55, 81, 57, 76, 84, 77, 81, 87, 77, 51, 78, 60, 82, 91, 53,
       78, 46, 77, 84, 49, 83, 71, 80, 49, 75, 64, 76, 53, 94, 55, 76, 50,
       82, 54, 75, 78, 79, 78, 78, 70, 79, 70, 54, 86, 50, 90, 54, 54, 77,
       79, 64, 75, 47, 86, 63, 85, 82, 57, 82, 67, 74, 54, 83, 73, 73, 88,
       80, 71, 83, 56, 79, 78, 84, 58, 83, 43, 60, 75, 81, 46, 90, 46, 74])

In [16]:
shortest = numpy.min(waiting_times)
longest = numpy.max(waiting_times)
average = sum(waiting_times)/len(waiting_times)
print("Old Faithful erupts every", shortest, "to", longest,
"minutes and every", round(average,2), "minutes on average.")

Old Faithful erupts every 43 to 96 minutes and every 70.9 minutes on average.

In [20]:
biggest_decrease=max([abs(waiting_times[i]-waiting_times[i-1]) for i in range(0,len(waiting_times)-1)])
print(biggest_decrease)

47

In [21]:
print('Absolute value of biggest decrease is ', abs(biggest_decrease))

Absolute value of biggest decrease is  47

# Question 5

In [110]:
inventory = Table.read_table('inventory.csv')
inventory.show(3)

In [111]:
inventory.sort('count')

box ID | fruit name | count
25274  | apple      | 20
48800  | orange     | 35
43566  | peach      | 40
53686  | kiwi       | 45
52357  | strawberry | 102
57181  | strawberry | 123
26187  | strawberry | 255
57930  | grape      | 517

In [112]:
inventory.where('fruit name', 'strawberry')

box ID | fruit name | count
57181  | strawberry | 123
26187  | strawberry | 255
52357  | strawberry | 102